
.pizzaBox {
    border: 0px solid;
    border-radius: 0.15em;
    border-color: black;
    padding: 0.5em;
    margin: 1em;
    flex: 1;
    background-color: rgba(136, 129, 129, 0.658);
}
@media (min-width : 960px) {
.box{
    display:flex;
}
}
h1 {
    text-align: center;
}
.price {
    font-weight: bolder;
}
img {
    display :inline-block;
    background-color:  rgba(136, 129, 129, 0.658);
    padding: 0.5em;
}
div{
    display: inline-flex;
}

.details {
    /*border: 1px solid;*/
    display:inline-block;
    margin-right: 2em;
}

body {
    background-image: url('./pizza-3010062_1280.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
